
<!-- <div id="page-react" data-moduleid="[ModuleContext:ModuleId]"></div> -->
 
<div id="react-dnn-app" data-moduleid="[ModuleContext:ModuleId]"></div>
<script src="~/DesktopModules/MVC/Core/dist/dnn_react_bundle.js"></script>

 